.recipes {
    background-color: pink;
    color: green;
    font-size: 24px;
    font-weight: bold;
}
.heading {
    text-align: center;
    font-size: 28px;
    color: blueviolet;
}
.ingred,
.step{
    color: orange;
    font-size: 20px;
}
.desc{
    color: crimson;
}
.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}